<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connectionString" connectionString="Data Source=Sajana;Initial Catalog=DB_VehicleSale;Integrated Security=True" />
  <add name="Car_Sale.Properties.Settings.CarSaleNewConnectionString"
   connectionString="Data Source=NOTEBOOK-MALITH;Initial Catalog=CarSaleNew;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>